@{
    ViewBag.Title = "About";
}

<h2>@GlobalRes.About</h2>
<p>
	<h3>What is this?</h3>
	<p>
		That site was created to help people. <br>
		Give people a chance to show their photos.<br> 
		Finding... <br>
		Photography - it is art. 
	</p>
</p>
