@model EPAM.WebGallery.Site.Models.AlbumViewModel
@{
    ViewBag.Title = "EditAlbum";
}

<h2>Edit @Model.Name album</h2>
@if (TempData["message"] != null)
{
	<div>@TempData["message"]</div>
}
@using (Html.BeginForm("EditAlbum","Gallery"))
{
	<div class="span5">
		@Html.EditorForModel()
		<input type="submit" value="Save" class="btn btn-info"/>
		@Html.ActionLink("Cancel and return to list", "Index")
	</div>
}
